<header class="header">
  <div class="header__box">
    <img src="logo.png" alt="logo" height="44">
    <ul class="header__list">
      <li *ngFor="let item of list" class="header__item">
        <a [routerLink]="item.link">{{item.name}}</a>
      </li>
    </ul>
  </div>
  <div class="header__btns">
    @if(user) {
      <p>welcome {{user?.name}}</p>
      <button (click)="logOut()">Log out</button>
    } @else {
      <button (click)="goToRegistrate()">Register</button>
    }
  </div>
</header>
