<div>
  <p>user-profile works!</p>
  <p>{{userName}}</p>
  <p [ngClass]="{
     'red' : isButtonDisabled
  }">Возраст: {{ userAge }}</p>
  <p [ngStyle]="{
         'font-weight': isButtonDisabled ? 'bold' : 'normal',
         'font-size.px': fontSize
      }"
>
     Статус: {{ userAge >= 18 ? 'Совершеннолетний' : 'Несовершеннолетний' }}
  </p>

  <p>Статус через функции: {{ showStatus() }}</p>

  <img [src]="autoUrl" alt="Аватар" width="100">

  <div class="user-profile__inputs-box">
  <input (input)="onInput($event)" placeholder="Введите новое имя">

  <input [(ngModel)]="userName">

  <button (click)="toggleDisabled()">unDisabled</button>

  <button  [disabled]="isButtonDisabled">Мой профиль</button>

  <p *ngIf="user; else loaderTemplate">Добро пожаловать на страницу {{user.name}}</p>

  <ng-template #loaderTemplate>
      <p>Если нет данных показываем загрузку...</p>
  </ng-template>

  <p *ngIf="!isButtonDisabled">Загрузка данных</p>


  <button (click)="greetUser()">Поприветствовать</button>
  </div>


</div>
